doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

    style
      include ../public/style.css
      
  body
    style
      include ../public/style.css
    div(style='background-image:url(#{require("backgorund.png")})')
    .row.cyan.lighten-4
      h1= title
      p World's best microblogging service!
      form(method="POST" action="/posts/logout")
        button.btn.waves-effect.waves-light(type='submit' name='action') Logout
      br
        

    .row
      .col.s0.m0.l1
      .col.s12.m12.l3.xl3.grey.lighten-5.hoverable
        h3 Submit new post
        form(method='POST' action='/posts/create')
          p
            label
              input(type='checkbox', name="checkbox", value="YES")
              span Use my username as a nickname
          .form-group.col.s10.push-s1
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='Your name' name='author')
          .form-group.col.s10.push-s1
            label(for='content') Post text:
            input#content.form-control(type='text', placeholder='Write here' name='content')
          br
          br
          br
          br
          br
          br
          br
          button.btn.waves-effect.waves-light(type='submit' name='action') Post and Refresh
          p 
      .col.s12.m12.l1.xl1
      .col.s12.m12.l6.xl6.brown.lighten-1.hoverable
        ul
        each post in post_list.reverse()
          p.left-align #{post.username} - #{post.postContent} - #{post.time}

        else
          p There are no posts yet, be the first one to post something!
    br
    p © Ilmari Pekonen, 2019