doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', href='style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

    style
      include ../public/style.css
      
  body
    .row.cyan.lighten-4
      h1= title
      p World's best microblogging service!
      form(method="POST" action="/getin")
        button.btn.waves-effect.waves-light(type='submit' name='action') Login
      br
        

    .row
      .col.s0.m0.l1
      .col.s12.m12.l3.xl3.grey.lighten-5.hoverable
        h3 Welcome to Twitter 2.0
        p This is a microblogging service that you can use freely. Right now you can only see the posts but if you log in, you will be able to post content with your login name or with a nickname.
      .col.s12.m12.l1
        br
        form(method='POST' action='/')
          button.btn.waves-effect.waves-light(type='submit' name='refresh') Refresh feed
        br
      .col.s12.m12.l6.xl6.brown.lighten-1.hoverable
        ul
        each post in post_list.reverse()
          p.left-align #{post.username} - #{post.postContent} - #{post.time}

        else
          p There are no posts yet, log in and be the first one to post something!
    br
    p © Ilmari Pekonen, 2019